<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="base :: base">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>flawed</title>
    </head>

    <body>
        <div th:fragment="content">
            <div class="projects-horizontal">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">The flaws</h2>
                        <p class="text-center">Here are some info about our fla.. I mean features!</p>
                    </div>
                    <div class="row projects">
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#"><img src="/img/desk.jpg" class="img-responsive" /></a>
                                </div>
                                <div class="col-md-7">
                                    <h3 class="name">Insecure Direct Object References!</h3>
                                    <p class="description">When you visit your account page try changing the id. Whoops!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#"><img src="/img/building.jpg" class="img-responsive" /></a>
                                </div>
                                <div class="col-md-7">
                                    <h3 class="name">Sensitive Data Exposure and Missing Function Level Access Control</h3>
                                    <p class="description">I believe the admin panel should be hidden and only be accessed by authorized admins. Also users' data is not encrypted. That means things like passwords are in plain text format.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#"><img src="/img/loft.jpg" class="img-responsive" /></a>
                                </div>
                                <div class="col-md-7">
                                    <h3 class="name">Using Components with Known Vulnerabilities</h3>
                                    <p class="description">This web application is running on an older version of spring boot -- 1.2.7 to be precise -- which means there are plethora of bugs. One of them is an SPEL injection with a whitelabel error page.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#"><img src="/img/minibus.jpeg" class="img-responsive" /></a>
                                </div>
                                <div class="col-md-7">
                                    <h3 class="name">Broken Authentication and Session Management</h3>
                                    <p class="description">If you look very closely, you can notice that certain pages show the session ID in the URI field.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>